In [6]:
import pandas as pd

In [7]:
pd.__version__

'3.0.0'

In [15]:
data = {
    'students' : ['Aryan','samyak','daksh','devansh','shrestha'],
    'subjects' : ["Python", "html","css","react","javaScript"],
    'marks' : [100,99,91,98,100]
}

In [16]:
data

{'students': ['Aryan', 'samyak', 'daksh', 'devansh', 'shrestha'],
 'subjects': ['Python', 'html', 'css', 'react', 'javaScript'],
 'marks': [100, 99, 91, 98, 100]}

In [20]:
df = pd.DataFrame(data,index=['one','two','three','four','five'])

In [21]:
df

       students    subjects  marks
one       Aryan      Python    100
two      samyak        html     99
three     daksh         css     91
four    devansh       react     98
five   shrestha  javaScript    100